.App {
  padding: 20px;
  text-align: center;
  background-color: var(--tg-theme-bg-color); /* Используем цвета темы Telegram */
  color: var(--tg-theme-text-color);
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.product-card {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--tg-theme-secondary-bg-color);
}

.product-card img {
  width: 100%;
  border-radius: 8px;
}

button {
  background-color: var(--tg-theme-button-color);
  color: var(--tg-theme-button-text-color);
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}